.home-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.line-break {
  display: none;
}

@media screen and (min-width: 767px) {
  .home-section {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
  .line-break {
    display: block;
  }
}
.home-heading {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: start;
  color: white;
  margin-left: 35px;
  padding-top: 55px;
}

.home-page-description {
  font-size: 18px;
  font-family: 'Roboto';
  color: white;
  margin-left: 35px;
  margin-right: 45px;
}

.btn-element {
  background-color: #6366f1;
  font-family: 'Roboto';
  padding: 18px;
  color: white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;

  margin-top: 25px;
  border: 0px none transparent;
  margin-left: 35px;
  margin-right: 45px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 55px;
    margin-top: 65px;
    margin-left: 35px;
  }
  .home-page-description {
    display: none;
  }
  .btn-element {
    background-color: #6366f1;
    font-family: 'Roboto';
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin-left: 45px;
    height: 55px;
    width: 155px;
    border: 0px none transparent;
  }
}

@media screen and (max-width: 767px) {
  .home-page-description-large {
    display: none;
  }
}
.home-page-description-large {
  font-size: 35px;
  font-family: 'Roboto';
  color: white;
  margin-left: 45px;
}
