.home-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .home-section {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
.home-heading {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: start;
  color: white;
  margin-left: 15px;
}

.home-page-description {
  font-size: 12px;
  font-family: 'Roboto';
  color: white;
  margin-left: 15px;
}

.btn-element {
  background-color: #6366f1;
  font-family: 'Roboto';
  padding: 8px;
  color: white;
  border-radius: 10px;
  margin-left: 15px;
  height: 35px;
  width: 100px;
  margin-top: 25px;
  border: 0px none transparent;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 75px;
    margin-top: 65px;
    margin-left: 45px;
  }
  .home-page-description {
    display: none;
  }
  .btn-element {
    background-color: #6366f1;
    font-family: 'Roboto';
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin-left: 45px;
    height: 55px;
    width: 155px;
    border: 0px none transparent;
  }
}

@media screen and (max-width: 767px) {
  .home-page-description-large {
    display: none;
  }
}
.home-page-description-large {
  font-size: 35px;
  font-family: 'Roboto';
  color: white;
  margin-left: 45px;
}
